.label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.65rem;
}
.label > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
